<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="BugNET.UserControls.Footer" %>
<p><asp:label ID="lclPoweredBy" runat="server" Text="[Powered by <a>Cat Assesment</a>] " meta:resourcekey="lclPoweredBy" /> Cat Assesment&nbsp;<asp:Label ID="Version" runat="server" /></p>